name: Deploy to GitHub Pages
on:
    workflow_dispatch:
    push:
        branches:
            - master

jobs:
    deploy:
        name: Deploy to GitHub Pages
        runs-on: ubuntu-22.04-ppc64le
        steps:
            - uses: actions/checkout@v4.2.1
            - uses: actions/setup-node@v3
              with:
                  node-version: 20
                  architecture: ppc64le
                  cache: npm
            - run: npm ci
            - name: Build docs
              run: npm run build:docs
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v4.0.0
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: docs/build
                  cname: parse5.js.org
